.header {
  color: $primary;
  display: flex;
  .container,
  .container-fluid {
    display: flex;
    justify-content: space-between;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &.header-absolute {
    position: absolute;
    z-index: 99;
    width: 100%;
  }
}

.home-link {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
    margin-left: $side-margin;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}

.home-link-mobile {
  display: block;
  width: 40px;
  @include media-breakpoint-up(md) {
    display: none;
  }
  margin-left: $side-margin;
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}

.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
